// Import required packages
const { src, dest, series, parallel, watch } = require("gulp");
const cleanCSS = require("gulp-clean-css");
const htmlmin = require("gulp-htmlmin");
const uglify = require("gulp-uglify");
const imagemin = require("gulp-imagemin");
const del = require("del");

// Clean dist folder
function clean() {
  return del(["dist"]);
}

// Minify HTML
function html() {
  return src("*.html")
    .pipe(htmlmin({ collapseWhitespace: true, removeComments: true }))
    .pipe(dest("dist"));
}

// Minify CSS
function css() {
  return src("**/*.css")
    .pipe(cleanCSS())
    .pipe(dest("dist"));
}

// Minify JS
function js() {
  return src("**/*.js")
    .pipe(uglify())
    .pipe(dest("dist"));
}

// Optimize Images
function images() {
  return src("assets/images/**/*")
    .pipe(imagemin())
    .pipe(dest("dist/assets/images"));
}

// Watch files for changes (optional for local dev)
function devWatch() {
  watch(["*.html", "**/*.css", "**/*.js"], series(build));
}

// Define tasks
const build = series(clean, parallel(html, css, js, images));

exports.clean = clean;
exports.build = build;
exports.default = build;
exports.watch = devWatch;
